.row
  .span6
    .well
      %h2 Usuários
      -if current_user || @users.any?
        %br
        %table.table.table-striped
          %tbody
            -if current_user
              %tr.highlighted
                %td
                  =link_to current_user do
                    =current_user.twitter_photo
                    =current_user.name
                %td
                  ="(#{ pluralize current_user.subscriptions.count, 'podcast' })"
            -@users.each do |user|
              %tr
                %td
                  =link_to user do
                    =user.twitter_photo
                    =user.name
                %td
                  ="(#{ pluralize user.subscriptions.count, 'podcast' })"

  .span6
    .well
      %h2 Podcasts
      -if @podcasts.any?
        %br
        %table.table.table-striped
          %tbody
            -5.times do
              -@podcasts.each do |podcast|
                %tr
                  %td
                    =link_to podcast do
                      =image_tag podcast.logo.url(:thumb)
                      =podcast.name
                  %td="(#{ pluralize podcast.subscriptions.count, 'ouvinte' })"
                  %td=render 'subscriptions/links', podcast: podcast, subscription: @subscription, button_css: 'btn-mini'
