.row
  .span12
    .pull-right
      %a.twitter-share-button(href='https://twitter.com/share' data-lang='pt-BR' data-url='http://mypodcasts.info'
        data-via='mypodcastsinfo' data-text='Compartilhe os seus podcasts preferidos e descubra o que os seus amigos gostam de escutar!')
.row
  .span12
    .centered_text
      =image_tag 'logo_small.png'
    .well.centered_text
      %h3 Cadastre os seus podcasts preferidos, crie um perfil público para compartilhar os que você mais gosta através de notas e descubra o que os seus amigos gostam de escutar!
      .fb-like{ :'data-href' => 'https://www.facebook.com/mypodcasts', :'data-send' => 'false',
        :'data-layout' => 'button_count', :'data-width' => '450', :'data-show-faces' => 'true' }
.row
  .span6
    .well
      %h2 Usuários
      -if current_user || @users.any?
        %br
        %table#users_table.table.table-striped
          %tbody
            -([current_user] + @users).compact.each do |user|
              %tr{ class: user == current_user ? 'highlighted' : '' }
                %td.photo_and_name
                  =link_to user.twitter_photo, profile_path(user.name)
                  =link_to user.name, profile_path(user.name)
                %td
                  ="(#{ pluralize user.subscriptions.count, 'podcast' })"

  .span6
    .well
      %h2 Podcasts
      -if @podcasts.any?
        %br
        %table.table.table-striped
          %tbody
            -@podcasts.each do |podcast|
              %tr
                %td
                  =link_to podcast do
                    =image_tag podcast.logo.url(:thumb)
                  ="#{link_to(podcast.name, podcast)} (#{ pluralize podcast.subscriptions.count, 'ouvinte' })".html_safe
                  .score_read_only{ 'data-score' => podcast.score_average }
                -if current_user
                  %td=render 'subscriptions/links', podcast: podcast,
                    subscription: current_user.subscriptions.where(podcast_id: podcast.id).first || Subscription.new
