.row
  .span6
    .well
      %h1 Usuários
      -if current_user || @users.any?
        %br
        %table.table.table-striped
          %tbody
            -if current_user
              %tr
                %td.highlighted
                  =link_to current_user do
                    =current_user.twitter_photo
                    =current_user.name
            -@users.each do |user|
              %tr
                %td
                  =link_to user do
                    =user.twitter_photo
                    =user.name

  .span6
    .well
      %h1 Podcasts
      -if @podcasts.any?
        %br
        %table.table.table-striped
          %tbody
            -@podcasts.each do |podcast|
              %tr
                %td
                  =link_to podcast do
                    =image_tag podcast.logo.url(:thumb)
                    =podcast.name
