.row
  .span6
    .well
      %h2 Usuários
      -if current_user || @users.any?
        %br
        %table.table.table-striped
          %tbody
            -if current_user
              %tr.highlighted
                %td
                  =link_to current_user do
                    =current_user.twitter_photo
                    =current_user.name
                %td
                  ="(#{ pluralize current_user.subscriptions.count, 'podcast' })"
            -@users.each do |user|
              %tr
                %td
                  =link_to user do
                    =user.twitter_photo
                    =user.name
                %td
                  ="(#{ pluralize user.subscriptions.count, 'podcast' })"

  .span6
    .well
      %h2 Podcasts
      -if @podcasts.any?
        %br
        %table.table.table-striped
          %tbody
            -@podcasts.each do |podcast|
              %tr
                %td
                  =link_to podcast do
                    =image_tag podcast.logo.url(:thumb)
                  ="#{link_to(podcast.name, podcast)} (#{ pluralize podcast.subscriptions.count, 'ouvinte' })".html_safe
                  .score_read_only{ 'data-score' => podcast.score_average }
                %td=render 'subscriptions/links', podcast: podcast,
                  subscription: current_user.subscriptions.where(podcast_id: podcast.id).first || Subscription.new
