defaults: &defaults
  twitter:
    consumer_key: ''
    consumer_secret: ''

  authentication:
    username: ''
    password: ''

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
