-if @podcast.active?
  .row
    .span3
      =image_tag @podcast.logo.url(:logo)
      %br
      %br
      .centered_text
        -if @podcast.feed_url.present?
          =link_to image_tag('feed.png'), @podcast.feed_url, target: '_blank',
            rel: 'popover', 'data-placement' => 'bottom',
            'data-original-title' => t('activerecord.attributes.podcast.feed_url'),
            'data-trigger' => 'hover', 'data-content' => 'Assine esse podcast através do seu leitor de feed'

        -if @podcast.itunes_url.present?
          =link_to image_tag('itunes.png'), @podcast.itunes_url, target: '_blank',
            rel: 'popover', 'data-placement' => 'bottom',
            'data-original-title' => t('activerecord.attributes.podcast.itunes_url'),
            'data-trigger' => 'hover', 'data-content' => 'Assine esse podcast através do iTunes'

      %br
      -if current_user
        %h3 Sua nota
        =form_for @subscription, html: { id: 'subscription_form' } do |f|
          =f.hidden_field :podcast_id, value: @podcast.id
          .centered-text
            #score{ 'data-score' => @subscription.score }
              =f.hidden_field :score
      %h3 Nota média
      .score_read_only_big{ 'data-score' => @podcast.score_average }
    .span9
      %h1=@podcast.name
      -if current_user
        =render 'subscriptions/links', podcast: @podcast, subscription: @subscription
      %br
      %br
      .well
        %p.podcast_overview=@podcast.overview.gsub(/\n/, '<br />').html_safe
      -if @subscribers.any?
        .well
          %h4="#{ pluralize @podcast.subscriptions.count, 'ouvinte' }:"
          %br
          %table.table.table-striped
            %tbody
              -@subscribers.each do |user|
                %tr
                  %td.photo
                    =link_to profile_path(user.name) do
                      =user.twitter_photo('normal')
                  %td
                    =link_to profile_path(user.name) do
                      %h4=user.name

-else
  %h2=@podcast.name
  %h3.muted Ainda não aprovado.
