-if @podcast.active?
  .row
    .span3
      =image_tag @podcast.logo.url(:logo)
      %br
      %br
      .centered_text
        =link_to image_tag('feed.png'), @podcast.feed_url, target: '_blank',
          rel: 'popover', 'data-placement' => 'bottom',
          'data-original-title' => t('activerecord.attributes.podcast.feed_url'),
          'data-trigger' => 'hover', 'data-content' => @podcast.feed_url

        =link_to image_tag('itunes.png'), @podcast.itunes_url, target: '_blank',
          rel: 'popover', 'data-placement' => 'bottom',
          'data-original-title' => t('activerecord.attributes.podcast.itunes_url'),
          'data-trigger' => 'hover', 'data-content' => @podcast.itunes_url

      %br
        =form_for @subscription, html: { id: 'subscription_form' } do |f|
          =f.hidden_field :podcast_id, value: @podcast.id
          .centered-text
            #star{ 'data-score' => @subscription.score }
              =f.hidden_field :score
    .span9
      %h1=@podcast.name
      =render 'subscriptions/links', podcast: @podcast, subscription: @subscription, button_css: ''
      %br
      %br
      .well
        %p.podcast_overview=@podcast.overview.gsub(/\n/, '<br />').html_safe
      -if @subscribers.any?
        .well
          %h4 Quem escuta?
          %h5="(#{ pluralize @podcast.subscriptions.count, 'ouvinte' })"
          %table.table.table-striped
            %tbody
              -@subscribers.each do |user|
                %tr
                  %td
                    =user.twitter_photo
                    =user.name
                    [score p/ esse podcast]

-else
  %h2=@podcast.name
  %h3.muted Ainda não aprovado.
